<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        ______________________________________________
        <br />
        header<br />
        ______________________________________________
        <br/>
        {% block body %}{% endblock %}
        ___________________________________________
        <br />
        footer<br />
        __________________________________________
        <br />
        {% block javascripts %}{% endblock %}
    </body>
</html>
