{% extends '::base.html.twig' %}

{% block body %}
    <section class="container-fluid">
        <div class="container section-content">
            
        </div>
        
    </section>
{% endblock %}

