<footer id="footer" class="container-fluid">
    
        <div class="container container-footer" >
            <div class="row">
                <div class="col-md-6 bloc-copy-right">
                     <p>Tous droits de reproduction et de diffusion réservés &copy; 2016 Pitard.</p>
                </div>
            
            <div class="col-md-3 bloc-social ">
                <ul class="social list-inline ">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>                   
                </ul>
            </div>
                <div class="col-md-2" >
                    <p class="bloc-top">
                    <a id="gototop" class="gototop " href="#">
                        Haut de page
                        <i class="fa fa-angle-up"></i>
                    </a>
                </p>
            </div>
             </div>
        </div>
  
</footer>