{%  extends '::base.html.twig'%}

{% block body %}
   
    
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="row">
                        <div class="col-md-12">
                           <div class="list-group">
                               
                               <a href="#qui-sommes-nous" class="list-group-item" num_item="1" style="background: #0055a4; color: #ffffff ;">QUI SOMMES-NOUS ?</a>
                               <a href="#que-faisons-nous" class="list-group-item" num_item="2">QUE FAISONS-NOUS ?</a>
                               <a href="#notre-organisation" class="list-group-item" num_item="3">NOTRE ORGANISATION</a>
                               <a href="#notre-histoire" class="list-group-item" num_item="4">NOTRE HISTOIRE</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="bloc-pub-gauche">
                                <p>djghjdghdjlshfgldfh</p>
                                <p>djghjdghdjlshfgldfh</p>
                                <p>djghjdghdjlshfgldfh</p>
                                <p>djghjdghdjlshfgldfh</p>
                                <p>djghjdghdjlshfgldfh</p>
                                <p>djghjdghdjlshfgldfh</p>
                                <p>djghjdghdjlshfgldfh</p>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- PARTIE QUI SOMMES-NOUS-->
                   <section id="bloc-qui-sommes-nous">
                        <div class="row">
                             <div  class="col-lg-12 col-md-12">
                                <div class="bloc-title">
                                    <h1 class="sup-margin-title"> 
                                        <span>QUI SOMMES-NOUS ?</span>
                                    </h1>
                                </div>
                                <!-- PARTIE I-->
                                <H2 class="bloc-subtitle">
                                    <span class="subtitle" > hlive en bref</span>
                                    <span class="bloc-subtitle-border"></span>
                                </H2>
                                <h2 class="content-subtitle underline">
                                    La chaîne culturelle de la communauté haïtienne
                                </h2>

                                <div class="intro">
                                    Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.

                                </div>
                                <div class="description">
                                    <p>Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.</p>
                                    <p>Cumque pertinacius ut legum gnarus accusatorem flagitaret atque sollemnia, doctus id Caesar libertatemque superbiam ratus tamquam obtrectatorem audacem excarnificari praecepit, qui ita evisceratus ut cruciatibus membra deessent, inplorans caelo iustitiam, torvum renidens fundato pectore mansit inmobilis nec se incusare nec quemquam alium passus et tandem nec confessus nec confutatus cum abiecto consorte poenali est morte multatus. et ducebatur intrepidus temporum iniquitati insultans, imitatus Zenonem illum veterem Stoicum qui ut mentiretur quaedam laceratus diutius, avulsam sedibus linguam suam cum cruento sputamine in oculos interrogantis Cyprii regis inpegit.</p>
                                </div>
                                <!--FIN PARTIE I-->

                                <!-- PARTIE 2-->
                                <H2 class="bloc-subtitle">
                                    <span class="subtitle"> financement</span>
                                    <span class="bloc-subtitle-border"></span>
                                </H2>
                                <h2 class="content-subtitle underline">
                                    La chaîne culturelle de la communauté haïtienne
                                </h2>

                                <div class="intro">
                                    Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.

                                </div>
                                <div class="description">
                                    <p>Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.</p>
                                    <p>Cumque pertinacius ut legum gnarus accusatorem flagitaret atque sollemnia, doctus id Caesar libertatemque superbiam ratus tamquam obtrectatorem audacem excarnificari praecepit, qui ita evisceratus ut cruciatibus membra deessent, inplorans caelo iustitiam, torvum renidens fundato pectore mansit inmobilis nec se incusare nec quemquam alium passus et tandem nec confessus nec confutatus cum abiecto consorte poenali est morte multatus. et ducebatur intrepidus temporum iniquitati insultans, imitatus Zenonem illum veterem Stoicum qui ut mentiretur quaedam laceratus diutius, avulsam sedibus linguam suam cum cruento sputamine in oculos interrogantis Cyprii regis inpegit.</p>
                                </div>
                                <!--FIN PARTIE 2-->
                            </div>
                        </div> 
                    </section>
                    <!--FIN PARTIE QUI SOMMES-NOUS-->

                                        <!-- PARTIE QUE FAISONS-NOUS -->
                    <section id="bloc-que-faisons-nous">
                        <div class="row">
                             <div  class="col-lg-12 col-md-12">
                                <div class="bloc-title">
                                    <h1 class="sup-margin-title"> 
                                         <span>QUE FAISONS-NOUS ?</span>
                                    </h1>
                                </div>
                                <!-- PARTIE I-->
                                <H2 class="bloc-subtitle">
                                    <span class="subtitle"> des programmes pour tous</span>
                                    <span class="bloc-subtitle-border"></span>
                                </H2>
                                <h2 class="content-subtitle underline">
                                    des programmes pour tous, partout , à tout moment
                                </h2>

                                <div class="intro">
                                    Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.

                                </div>
                                <div class="description">
                                    <p>Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.</p>
                                    <p>Cumque pertinacius ut legum gnarus accusatorem flagitaret atque sollemnia, doctus id Caesar libertatemque superbiam ratus tamquam obtrectatorem audacem excarnificari praecepit, qui ita evisceratus ut cruciatibus membra deessent, inplorans caelo iustitiam, torvum renidens fundato pectore mansit inmobilis nec se incusare nec quemquam alium passus et tandem nec confessus nec confutatus cum abiecto consorte poenali est morte multatus. et ducebatur intrepidus temporum iniquitati insultans, imitatus Zenonem illum veterem Stoicum qui ut mentiretur quaedam laceratus diutius, avulsam sedibus linguam suam cum cruento sputamine in oculos interrogantis Cyprii regis inpegit.</p>
                                </div>
                                <!--FIN PARTIE I-->

                                <!-- PARTIE 2-->
                                <H2 class="bloc-subtitle">
                                    <span class="subtitle"> culture</span>
                                    <span class="bloc-subtitle-border"></span>
                                </H2>
                                <h2 class="content-subtitle underline">
                                    des programmes pour tous, partout , à tout moment
                                </h2>

                                <div class="intro">
                                    Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.

                                </div>
                                <div class="description">
                                    <p>Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.</p>
                                    <p>Cumque pertinacius ut legum gnarus accusatorem flagitaret atque sollemnia, doctus id Caesar libertatemque superbiam ratus tamquam obtrectatorem audacem excarnificari praecepit, qui ita evisceratus ut cruciatibus membra deessent, inplorans caelo iustitiam, torvum renidens fundato pectore mansit inmobilis nec se incusare nec quemquam alium passus et tandem nec confessus nec confutatus cum abiecto consorte poenali est morte multatus. et ducebatur intrepidus temporum iniquitati insultans, imitatus Zenonem illum veterem Stoicum qui ut mentiretur quaedam laceratus diutius, avulsam sedibus linguam suam cum cruento sputamine in oculos interrogantis Cyprii regis inpegit.</p>
                                </div>
                                <!--FIN PARTIE 2-->
                            </div>
                        </div> 
                    </section>

                                        <!--FIN PARTIE QUE FAISONS-NOUS-->



                                        <!-- PARTIE NOTRE ORGANISATION -->
                    <section id="bloc-notre-organisation">
                        <div class="row">
                             <div  class="col-lg-12 col-md-12">
                                <div class="bloc-title">
                                    <h1 class="sup-margin-title"> 
                                         <span>QUE NOTRE ORGANISATION </span>
                                    </h1>
                                </div>
                                <!-- PARTIE I-->
                                <H2 class="bloc-subtitle">
                                    <span class="subtitle"> la structure d'hlive</span>
                                    <span class="bloc-subtitle-border"></span>
                                </H2>
                                <h2 class="content-subtitle underline">
                                     qui fait quoi?
                                </h2>

                                <div class="intro">
                                    Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.

                                </div>
                                <div class="description">
                                    <p>Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.</p>
                                    <p>Cumque pertinacius ut legum gnarus accusatorem flagitaret atque sollemnia, doctus id Caesar libertatemque superbiam ratus tamquam obtrectatorem audacem excarnificari praecepit, qui ita evisceratus ut cruciatibus membra deessent, inplorans caelo iustitiam, torvum renidens fundato pectore mansit inmobilis nec se incusare nec quemquam alium passus et tandem nec confessus nec confutatus cum abiecto consorte poenali est morte multatus. et ducebatur intrepidus temporum iniquitati insultans, imitatus Zenonem illum veterem Stoicum qui ut mentiretur quaedam laceratus diutius, avulsam sedibus linguam suam cum cruento sputamine in oculos interrogantis Cyprii regis inpegit.</p>
                                </div>
                                <!--FIN PARTIE I-->


                            </div>
                        </div> 
                    </section>
                                        <!--FIN PARTIE NOTRE ORGANISATION-->


                                        <!-- PARTIE NOTRE HISTOIRE -->
                    <section id="bloc-notre-histoire">
                        <div class="row">
                             <div  class="col-lg-12 col-md-12">
                                <div class="bloc-title">
                                    <h1 class="sup-margin-title"> 
                                         <span>NOTRE HISTOIRE</span>
                                    </h1>
                                </div>
                                <!-- PARTIE I-->
                                <H2 class="bloc-subtitle">
                                    <span class="subtitle"> dates clés</span>
                                    <span class="bloc-subtitle-border"></span>
                                </H2>
                                <h2 class="content-subtitle underline">
                                     des programmes pour tous, partout , à tout moment
                                </h2>

                                <div class="intro">
                                    Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.

                                </div>
                                <div class="description">
                                    <p>Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.</p>
                                    <p>Cumque pertinacius ut legum gnarus accusatorem flagitaret atque sollemnia, doctus id Caesar libertatemque superbiam ratus tamquam obtrectatorem audacem excarnificari praecepit, qui ita evisceratus ut cruciatibus membra deessent, inplorans caelo iustitiam, torvum renidens fundato pectore mansit inmobilis nec se incusare nec quemquam alium passus et tandem nec confessus nec confutatus cum abiecto consorte poenali est morte multatus. et ducebatur intrepidus temporum iniquitati insultans, imitatus Zenonem illum veterem Stoicum qui ut mentiretur quaedam laceratus diutius, avulsam sedibus linguam suam cum cruento sputamine in oculos interrogantis Cyprii regis inpegit.</p>
                                </div>
                                <!--FIN PARTIE I-->


                            </div>
                        </div> 
                    </section>
                    <!--FIN PARTIE QUE FAISONS-NOUS-->
                </div>
            </div>
        </div>
    
    
{% endblock %}