<section id="section-footer" class="container-fluid">
    <div class="container contenainer-footer" >
        <div class="row ">
            <div class="col-md-3 col-sm-6 ">
                <h4>ADRESSE</h4>
                <ul class="list-unstyled adresse">
                    <li>
                        <i class="fa fa-home"></i>
                        <strong>Adresse:</strong> 10 Allée Henri IV<br>93270 SEVRAN
                    </li>
                    
                    <li>
                        <i class="fa fa-envelope"></i>
                        <strong>Email:</strong>hlive@gmail.com
                    </li>
                    <li>
                        <i class="fa fa-globe"></i>
                        <strong>Website:</strong>www.hlive.com
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <strong>Telephone:</strong> 00 00 00 00 00
                    </li>
                </ul>

            </div>
            <div class="col-md-3 col-sm-6">
                 <h4>ASSOCIATION</h4>
                <ul class="arrow list-unstyled">
                    <li><a href="#"> Qui sommes-nous ?</a></li>
                     <li><a href="#"> Que faisons-nous ?</a></li>
                     <li><a href="#"> Notre entreprise</a></li>
                     <li><a href="#"> Notre histoire</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                 <h4>NOTRE SITE</h4>
                <ul class="arrow list-unstyled">
                    <li><a href="#"> Direct</a></li>
                     <li><a href="#"> Programme</a></li>
                     <li><a href="#"> Contact </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                 <h4>INFOS LEGALES</h4>
                <ul class="arrow list-unstyled">
                    <li><a href="#"> Protection des données personnelles</a></li>
                     <li><a href="#"> Mentions légales</a></li>
                     <li><a href="#"> CGU </a></li>
                </ul>
            </div>

        </div>
    </div>
    
       
</section>